/* desktop first*/
/* Style général de la page */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Police de caractère */
    margin: 0; /* Enlève les marges par défaut */
    padding: 0; /* Enlève les espacements par défaut */
    box-sizing: border-box; /* Assure que le padding et la bordure sont inclus dans les dimensions totales des éléments */
    background-color: #e9ecef; /* Couleur de fond */
    color: #343a40; /* Couleur du texte */
    line-height: 1.6; /* Hauteur de ligne */
}

/*HEAD*/
/* Style de l'en-tête */
header {
    background: linear-gradient(to right, #495057, #343a40);
    color: #f8f9fa;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style de la navigation */
nav {
    display: flex; /* Utilise Flexbox pour organiser les éléments */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between; /* Espace les éléments uniformément */
    padding: 0 1em; /* Espacement interne gauche et droite */
}

#titre-logo {
    display: flex;
    flex-direction: row;
}

/* Style du logo */
#logo img {
    text-decoration: none;
    height: 5em;
}

/* Style de l'image dans le logo */
nav img {
    height: 40px; /* Hauteur de l'image */
    margin-right: 10px; /* Espace à droite de l'image */
}

/* Style du titre */
nav h2 {
    margin: 0; /* Enlève les marges par défaut */
    font-size: 1.75em; /* Taille de la police */
    color: #f8f9fa;
    align-self: center;
    margin-right: auto ;
}

nav h2 a {
    color: #f8f9fa;
    text-decoration: none;
}

/* Style de la navigation */
#navtop {
    display: flex; /* Utilise Flexbox pour organiser les éléments */
    list-style: none; /* Enlève les puces des listes */
    margin: 0; /* Enlève les marges par défaut */
    padding: 0; /* Enlève les espacements par défaut */
    font-size: 1.15em;
}

/* Style des éléments de la navigation */
#navtop li {
    margin: 0 15px; /* Espacement horizontal entre les liens */
}

/* Style des liens dans la navigation */
#navtop a {
    color: #f8f9fa; /* Couleur du texte des liens */
    text-decoration: none; /* Enlève la décoration par défaut des liens (soulignement) */
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

/* Changement de couleur au survol des liens */
#navtop a:hover {
    color: #adb5bd; /* Couleur des liens au survol */
}


/*MAIN*/
/* Style de la section principale */

/*main de la page index */
#index {
    padding: 20px; /* Espacement interne */
    max-width: 1200px; /* Largeur maximale */
    margin: 20px auto; /* Centrage et espace vertical autour de la section */
    text-align: center; /* Centrage du texte */
    background: #ffffff; /* Couleur de fond */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
}

/* Style des titres de la section principale */
main h2 {
    color: #495057; /* Couleur du texte */
    margin-bottom: 20px; /* Espace en dessous du titre */
}

/* Style des paragraphes dans la section principale */
main p {
    font-size: 1.2em; /* Taille de la police */
    margin-bottom: 20px; /* Espace en dessous du paragraphe */
}
/*SECTION GLOBALE*/
section#services {
    background-color: #ffffff; 
    padding: 5px; /* Espacement interne */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    margin-top: 10px; /* Espace au-dessus de la section */
}

/* SECTION INDEX */
/* gestion des services*/
section#services {
    background-color: #ffffff; 
    padding: 5px; /* Espacement interne */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    margin-top: 10px; /* Espace au-dessus de la section */
}

/* Style des listes non ordonnées */
section#services ul {
    list-style: none; /* Enlève les puces des listes */
    padding: 0; /* Enlève les espacements internes */
}

/* Style des éléments de liste */
section#services li {
    background-color: #6c757d;
    color: #ffffff; 
    margin: 15px 0; /* Espacement vertical entre les éléments */
    padding: 25px; /* taille bloc */
    border-radius: 5px; 
    font-weight: bold; 
    transition: 0.5s;
    margin: 2.5em;
}

section#services h3 {
    font-size: 1.5em ;
}

/* Style des paragraphes à l'intérieur des éléments de liste */
section#services li p {
    margin: 10px 0 0; /* Espacement interne */
    padding: 10px; /* Espacement interne */
    color: #d4dbe2; 
    border-radius: 5px; 
}

/* effet shadow */
section#services li:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    transform: translateY(-10px);
}

/*4 image section index*/
#bagarre-solo {
    margin : 100px auto;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/img/bagarre_solo_taille.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}

#bagarre-groupees {
    margin : 100px auto;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/img/bagarre_groupees.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}

#voisin-vnr {
    margin : 100px auto;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/img/voisin_vnr.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}

#bodyguard {
    margin : 100px auto;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/img/quatre_heros.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}


/*MAIN EQUIPE*/
#main-equipe {
    padding: 20px; /* Espacement interne */
    margin: 20px auto; /* Centrage et espace vertical autour de la section */
    text-align: center; /* Centrage du texte */
    background: #ffffff; /* Couleur de fond */
    border-radius: 10px; /* Bords arrondis */
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
}


/* SECTION EQUIPE*/
#equipe {
    margin-top: 5em;
}
/* Style de la section "equipe" */
#equipe-contenu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espace entre les articles */
}

.equipe-membre {
    flex: 1 1 200px; /*grandissent pour remplir espace */
    margin: 10px;
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
    padding: 20px; /* Espacement interne */
    text-align: center; /* Centrage du texte */
}

/* Style des images dans les articles */
.equipe-membre img {
    height: 15em;
    width: auto; /*conserve propotio*/
    border-radius: 4%;
    margin-bottom: 10px; /* Espace bas images */
}

/* Style des titres dans les articles */
.equipe-membre h3 {
    margin: 10px 0;
    color: #343a40; /* Couleur du texte */
}

/* Style des paragraphes dans les articles */
.equipe-membre p {
    color: #6c757d; /* Couleur du texte */
}

#membre-star {
    margin-top: 5em;
}

/*FOOTER*/
footer {
    background-color: #343a40; 
    color: #f8f9fa; 
    padding: 20px 0; /* Espacement interne (haut et bas) */
    margin-top: 10px; /* Espace au-dessus du pied de page */
}

/* Style du texte dans le pied de page */
footer p {
    margin: 0; /* Enlève les marges par défaut */
    text-align: center; /* Centrage du texte */
}

/*div général dans footer */

#div-papa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#div-papa h2 {
    font-size: 1.5em;
}

#div-papa a {
    font-size: 1.5em;
}

#footer-links, #reseaux-sociaux {
    align-items: center;
}

footer div  {
    margin-bottom: 20px; /* Espace en dessous des liens */
}

footer div a {
    color: #adb5bd; /* Couleur du texte des liens */
    text-decoration: none; /* Enlève la décoration par défaut des liens (soulignement) */
    margin: 0 10px; /* Espacement horizontal entre les liens */
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

footer div a:hover {
    color: #f8f9fa; /* Couleur des liens au survol */
}

#logo-footer img {
    height: 12.5em;
}

/*MEDIA QUERY*/
/*mobile-700px*/
@media (max-width: 700px) {

    body {
        max-width: 700px; 
    }
    /* HEADER*/
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navtop {
        flex-direction: column;
        margin-top: 0.1em;
        align-items: center;
    }

    #navtop li {
        margin: 10px 0;
        margin-left: 2.0rem;
    }


    /*MAIN*/
    main {
        padding: 1em;
    }

    #services ul {
        flex-direction: column;
    }

    #services li {
        width: auto;
    }

    #services {
        width: 100%;
    }

    #bagarre-solo, #bagarre-groupees, #voisin-vnr, #bodyguard {
        padding: 50px 0;
    }

    /*FOOTER -700*/
    #div-papa {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5em;
    }

    #logo-footer img {
        height: 8em;
    }

    #logo-footer {
        display: flex;
        order: 2;
    }

    #div-papa h2{
        font-size: 24px;
    }

    #div-papa a {
        font-size: 16px;
    }


    /*Section services*/
    section#services li {
        font-size: 1em;
    }

    section#services h3 {
        font-size: 1.2em;
    }

    section#services li p {
        font-size: 0.9em;
    }

    

    /*Equipe */
    .equipe-membre img{
        max-width: 200px;
        height: 240px;
    }
}